.hobbie-L{
  font-size: 20px;
  color:rgb(255, 0, 0);
}
#headings{
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  position: static;
  float: right;
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.sites{
  font-size: 20px;
  color: black;
  background-color: lightblue
}
#headings{
  font-size: 30px;
  font-style: italic;
  color: white;
  background-color: lightblue
}
#htitle{
  font-size: 50px;
  color: rgb(204, 102, 255);
  font-style: oblique;
  text-align: center;
}
#hparagraph{
  font-size: 35px;
  color: rgb(220, 40, 100);
  font-style: oblique;
}
#hbody{
  background-color: rgb(250, 200, 250);
}
#hpic{
  width: 300px;
  height: 300px;
  margin-left: 400px;
}
#ftitle{
  font-size: 50px;
  color: rgb(255, 0, 0);
  font-style: italic;
}
#fparagraph{
  font-size: 35px;
  color: rgb(255, 153, 51);
  font-style: italic;
}
#fbody{
  background-color: rgb(255, 255, 204);
}
#fweb{
  font-size:35px;
  font-style: italic;
}
#fpics1{
  width: 300px;
  height: 300px;
  transform: rotate(270deg);
  margin: 15px;
}
#fpics3{
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
  margin: 15px;
}
#fpics4{
  width: 400px;
  height: 300px;
  transform: rotate(180deg);
  margin: 15px;
}
#stitle{
  font-size: 50px;
  color: rgb(102, 102, 51);
  font-style: cursive;
}

#sparagraph{
  font-size: 35px;
  color: rgb(51, 153, 102);
  font-style: cursive;
}
#cbody{
  background-color: rgb(204, 204, 255);
}
#ctitle{
  font-size: 50px;
  color: rgb(0, 51, 153);
  font-style: georgia;
  text-align: center;
}
#cparagraph{
  font-size: 35px;
  color: rgb(0, 153, 153);
  font-style: georgia;
}
.cpics{
  width: 300px;
  height: 300px;
  margin: 15px;
}
#cweb{
  font-size: 35px;
  font-style: georgia;
}
.spics{
  width: 300px;
  height: 300px;
  margin: 15px;
}
#spics{
  width: 400px;
  height: 300px;
  margin: 15px;
}
#sweb{
  font-size: 35px;
}
